// Specific CSS for your home-page

.master-container{
padding-top: -20px;
height: 100vh;
display:flex;
align-items: flex-start;
justify-content: center;
background-size: cover;
}



.btn-flat {
  color: white;
  padding: 10px 28px;
  border-radius: 50%;
  background: black;
  transition: background 0.3s ease;
  position:absolute;
  top: 40%;
  left: 65%;
}

.btn-flat:hover {
  background: black;
  color: white;
}

.animal-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container3{
  background-repeat: no-repeat;
  background-position: 20% 20%;
  background-size: cover;
  width: 1200px;
  padding-top: 10px;
  padding-left: 100px;

}
