// Import page-specific CSS files here.
@import "home";
@import "components/map";

h1{
  padding-top: 20px;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 12px;
}
h5{
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  font-weight: 2px;
}
.animal-grid{
  padding-top: 20px;
  align-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.animal-card{
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

.map-container{
  padding: 45px;
}

#map{
  border-radius: 2%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  position: sticky;
  top: 0px;
  margin-top: 50px;
}

#map:hover{
  border-style: groove;
}
