p{
  text-align: center;
  align-content: center;
  font-size: 30px;
}
.form-inputs{
  align-items: center;
  content: normal;
  padding: 100px;

  width: 50%;
  align-content: center;
}
form {
  background-color: white;
}
