<h1>Your bookings!</h1>
<ol>
  <div>
    <% @bookings.each do |item| %>
      <li>Your booking for <%= item.animal.name%> is from the <%= item.start_date.strftime("%d/%m/%Y at %H:%M") %> to the <%=item.end_time.strftime("%d/%m/%Y at %H:%M")  %></li>
    <% end %>
  </div>
</ol>
