
<div class="container">
  <div class="d-flex justify-content-centre">
    <div class="col-sm-6">

    <h1>Your buddy is going through some change :</h1>
    <%= render "form", animal: @animal %>
    </div>
  </div>
</div>
