<div class="container">
  <h1>Say hello to our friends from the past 🦖 </h1>
  <h5><i class="fa fa-plus"></i> Let's add a new animal friend 🦕</h5>
    <div class="d-flex justify-content-around">
      <div class="animal-grid">
         <% @animals.each do |animal| %>
         <div class="animal-card">
          <img class="card-img-top"src="<%= animal.image %>" alt="image of the creature"style="height: 300px; object-fit: cover;">
          <div class="card-body"style="background-color: white;">
          <h5 class="card-title"> <%= animal.name %></h5>
          <p class="card-text"><%= animal.price %>£</p>
          <%= link_to 'Go somewhere', animal_path(animal), :class =>"btn btn-dark"%>
          </div>
          </div>
          <% end %>
      </div>
    </div>
</div>


  <hr>

  <%# link_to new_animal_path do %>

   <%# end %>
</div>
