<div class="animal-new-wrapper">
  <div class="image-animal">
    <%= image_tag "buddy.png", class: "animal-logo-small"  %>
  </div>
  <div class="form-animal-new">
    <%= render "form", animal: @animal %>
  </div>
</div>
