.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  height: 60px;
  object-fit: cover;
}

.nav-link {
  font-size: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

#login-button {
  color: black !important;
}
